{% extends 'base.html' %}
{% block content %}
<h1>List of available Laptops</h1>
{% for laptop in laptops %}
    <div class='card'>
        <div class='card-content'>
            <span class='card-title'>{{laptop.name}}</span>
            <p>price: {{laptop.price}}</p>
            <p>OS: {{laptop.os}}</p>
            <p>Processor: {{laptop.processor}}</p>
            <p>Display: {{laptop.display}}</p>
            <p>RAM: {{laptop.ram}}</p>
            <p>Storage: {{laptop.storage}}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
